/* Center content vertically */
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Background and text color */
body {
  background-color: black;
  color: white;
  font-size: 20px;
  font-family: "Gilroy-Medium", sans-serif;
}

/* Logo */
.logo {
  position: absolute;
  top: 0;
  left: 0;
  width: 200px;
  height: auto;
  margin: 20px;
}

/* Buttons */
.btn {
  display: inline-block;
  margin: 20px;
  max-width: 350px;
  overflow: hidden;
  position: relative;
}

.btn img {
  width: 100%;
  max-width: 250px;
  height: auto;
}

/* Header */
h1 {
  font-family: "Druk-Wide-Medium", sans-serif;
  font-size: 72px;
  margin: 0;
}

@media (max-width: 768px) {
  /* Text size */
  body {
    font-size: 16px;
  }

  /* Logo */
  .logo {
    width: 150px;
    margin: 10px;
  }

  /* Buttons */
  .btn img {
    max-width: 150px;
  }

  /* Header */
  h1 {
    font-size: 48px;
  }
}
